<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>ME</h4>
    <p>I want to have the right tools and knowledge to meaningfully contribute to a growing number of technology companies that impact our daily lives.Coding becomes a form of creative writing, where my products are only limited by my imagination.</p>
  </div>
  <div class="medium-6 large-4 columns">
    <img src="https://avatars1.githubusercontent.com/u/8865326?v=3&s=460">
  </div>
</div>

<div class="row contact text-center">
  <hr>
  <div class="small-12 columns">
    <h4>CONTACT ME</h4>
    <a href="mailto:toan@me.com">
      <div class="small-3 columns contact-icons">
        <strong><i class="fi-mail" ></i></strong>
      </div>
    </a>
    <a href="http://www.linkedin.com/in/toannl">
      <div class="small-3 columns contact-icons">
        <strong><i class="fi-social-linkedin"></i></strong>
      </div>
    </a>
    <a href="https://twitter.com/toannl">
      <div class="small-3 columns contact-icons">
        <strong><i class="fi-social-twitter"></i></strong>
      </div>
    </a>
    <a href="https://github.com/toannguyenle>"
      <div class="small-3 columns contact-icons">
        <strong><i class="fi-social-github"></i></strong>
      </div>
    </a>
  </div>
</div>

