<div class="row app-container">
  <input class="form-control search-bar" ng-model="query" placeholder="SEARCH TECHNOLOGIES USED..." typeahead="tech for tech in technologies | filter:$viewValue | limitTo:8">
</div>
<div class="row app-container">
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
    <li ng-repeat="a in apps | filter:query" 
        class="f1_container"
        ng-init="overEdit=false"
        ng-mouseover="overEdit=true"
        ng-mouseleave="overEdit=false">
      <div class="project-tile">
        <div class="project-image" style="
          background: url({{a.thumbnail_url1}});
          background-position: top center;
          background-repeat: no-repeat;
          background-size: cover;">
        </div>
        <div class="text-center" ng-class="overEdit ? 'project-name-full':'project-name'">
          {{a.name}}
          <div ng-if="overEdit">
            <small>{{a.built_with}}</small><br><br>
            <a class="contact-button" ng-click="open(a._id.$oid)">DETAILS</a>
          </div>
        </div>
        
      </div>
<!--       <div class="f1_card shadow"> -->
        <!-- FRONT FACE -->
<!--         <div class="front face">
          <div class="project-container">
            <img ng-src="{{a.thumbnail_url1}}" class= "project-pic">
            <div>
              <h4>{{a.name}}</h4>
              <p><small>{{a.app_url}}</small></p>
            </div>
          </div>
        </div> -->
        <!-- BACK FACE -->
<!--         <div class="back face center">
          <h4 style="color:white">{{a.name}}</h4>
          <p>Built with: {{a.built_with}}</p>
          <p><small>{{a.description}}</small></p>
          <p class="social-share-icons">
            <a href="https://twitter.com/intent/tweet?hashtags={{a.hashtag}}&original_referer=http%3A%2F%2Ftoangular.com&text=Check%20out%20this%20app&tw_p=tweetbutton&url={{a.app_url}}&via=toannl"><i class="fi-social-twitter"></i></a>
            <i class="fi-heart" data="{{a._id.$oid}}" ng-click="appLike(a._id.$oid)">
              <span data="{{a._id.$oid}}" class="round radius label">{{a.like}}</span>
            </i>
          </p>
          <a href="{{a.app_url}}" class="contact-button">APP SITE</a>
        </div>
      </div> -->
    </li>
  </ul>
</div>
