<div class="row">
  <div class="small-12 text-center">
    <input class="search-bar" ng-model="query" placeholder="SEARCH ANYTHING...">
  </div>
</div>
<div class="row text-center app-container">
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
    <li ng-repeat="a in apps | filter:query" class="project-tile f1_container">
      <div class="f1_card shadow">
        <!-- FRONT FACE -->
        <div class="front face">
          <div class="project-container">
            <img ng-src="{{a.thumbnail_url1}}" class= "project-pic">
            <div>
              <h4>{{a.name}}</h4>
              <p><small>{{a.app_url}}</small></p>
            </div>
          </div>
        </div>
        <!-- BACK FACE -->
        <div class="back face center">
          <h4 style="color:white">{{a.name}}</h4>
          <p>Built with: {{a.built_with}}</p>
          <p><small>{{a.description}}</small></p>
          <p class="social-share-icons">
            <a href="https://twitter.com/intent/tweet?hashtags={{a.hashtag}}&original_referer=http%3A%2F%2Ftoangular.com&text=Check%20out%20this%20app&tw_p=tweetbutton&url={{a.app_url}}&via=toannl"><i class="fi-social-twitter"></i></a>
            <i class="fi-heart" data="{{a._id.$oid}}" ng-click="appLike(a._id.$oid)">
              <span data="{{a._id.$oid}}" class="round radius label">{{a.like}}</span>
            </i>
          </p>
          <a href="{{a.app_url}}" class="contact-button">APP SITE</a>
        </div>
      </div>
    </li>
  </ul>
</div>
