<div class="row text-center">
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
    <li ng-repeat="a in apps | filter:query" class="project-tile f1_container">
      <div class="f1_card shadow">
        <!-- FRONT FACE -->
        <div class="front face">
          <div class="project-container">
            <img ng-src="{{a.thumbnail_url1}}" class= "project-pic">
            <div>
              <h4>{{a.name}}</h4>
              <p><small>{{a.app_url}}</small></p>
            </div>
          </div>
        </div>
        <!-- BACK FACE -->
        <div class="back face center">
          <h4>{{a.name}}</h4>
          <p>Built with: {{a.built_with}}</p>
          <p><small>{{a.description}}</small></p>
          <p class="social-share-icons">
            <i class="fi-social-twitter"></i>
            <i class="fi-heart"></i>
            <i class="fi-share"></i>
          </p>
          <a href="{{a.app_url}}" class="contact-button">APP SITE</a>
        </div>
      </div>
    </li>
  </ul>
</div>
