<div class="row">
  <div class="small-12 large-4 columns">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
  asdf
  asdf
  asdf
  asd
  fasd
  fas
  dfas
  dfa
  sdf
  asdf
  asdf
  </div>
  <div class="small-12 large-4 columns">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
  asdf
  asdf
  asdf
  asd
  fasd
  fas
  dfas
  dfa
  sdf
  asdf
  asdf</div>
  <div class="small-12 large-4 columns">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
  asdf
  asdf
  asdf
  asd
  fasd
  fas
  dfas
  dfa
  sdf
  asdf
  asdf</div>
</div>