<div class="hero">
  <div class="row">
    <div class="large-12 columns intro-text">
      <p>Stay Hungry. Stay Foolish.<br>I am hungry to be a part of a product development that<br>meaningfully disrupt and improve user's lives.<br>The bigger the challenge, the hungrier I am.</p> 
      <div class="contact-button"  class="text-center"><a ui-sref="home">MY PORTFOLIO</a></div>
    </div>
  </div>
</div>